<snap-content snap-options="snapOpts">
 <div class="overlay">
  <div class="overlay-box">
    <img class="overlay-loader" src="img/ajax-loader.gif" />
  </div>
 </div>
 <div id="top-bar">
 <img src="./icon.png" snap-toggle id="snap-button">
<h1>Login</h1>
 </div>

 <div id="main-view">
   <div class="login">
   <form>
   <h2 class="login-text">Username
   <input id="login-user" type="text" name="uname"></h2>
   <h2 class="login-text">Password
   <input id="login-pass" type="text" name="pword"></h2>
   </form>
   <div id="domain"></div>
   <h2 id="login-button" class="ui-button centered">Sign In</h2>
   <h2 id="register-button" class="ui-button centered">Register</h2>
   </div>
 </div>
</snap-content>

