<div id="#pageid#" class="page" style="display:;">
    <header class="bar-title">
      <h1 class="title" data-id="all">Ridekeeper</h1>
    </header>
    
    <div class="bar-tab">
      <ul class="tab-inner">
        <li class="tab-item">
          <a href="#/profile">
            <img class="tab-icon" src="img/icon-home.png">
            <div class="tab-label">Home</div>
          </a>
        </li>
        <li class="tab-item">
          <a href="#/vehicles-stolen" class="viewCategory" data-id="all">
            <img class="tab-icon" src="img/icon-checkmark.png">
            <div class="tab-label">To Do's</div>
          </a>
        </li>
        <li class="tab-item">
          <a href="#vehicles">
            <img class="tab-icon" src="img/icon-folder.png">
            <div class="tab-label">Categories</div>
          </a>
        </li>
        <li class="tab-item">
            <a href="#settings">
              <img class="tab-icon" src="img/icon-settings.png">
              <div class="tab-label">Settings</div>
            </a>
        </li>
      </ul>
    </div>
    
    <div id="wrap-#pageid#">
      <div id="scroller">
        <div id="boxes">
          <div class="box">
            <a href="javascript:void(0)" class="viewCategory box-click" data-id="all">
              <img src="img/icon-view-items.png" /><br />
              View To Do List
            </a>
          </div>
          <div class="box">
            <a href="javascript:void(0)" class="linkNewItem notlink box-click">
              <img src="img/icon-add-item.png" /><br />
              Add To Do
            </a>
          </div>
          <div class="box">
            <a href="##cats_view" class="box-click">
              <img src="img/icon-view-cats.png" /><br />
              View Categories
            </a>
          </div>
          <div class="box">
            <a href="javascript:void(0)" class="linkNewCategory notlink box-click">
              <img src="img/icon-add-cat.png" /><br />
              Add Category
            </a>
          </div>
        </div>
      </div>
    </div>
</div>




