<snap-drawers data-snap-ignore="true">
  <div snap-drawer>
     <div>
      <a href="#/vehicles-stolen" class="drawer-button">Vehicles Being Stolen</a>
     </div>
    <div>
      <a href="#/profile" class="drawer-button active-button">My Profile</a> 
    </div>
    <div>
      <a href="#/vehicles" class="drawer-button">My Vehicles</a> 
    </div>
    <div>
      <a href="#/settings" class="drawer-button">Settings</a> 
    </div>
  </div>
</snap-drawers>

<snap-content snap-options="snapOpts">
 <div id="top-bar">
 <img src="./icon.png" snap-toggle id="snap-button">
<h1>My Profile</h1>
 </div>

 <div id="main-view">
   <div class="profile-photo">
     <h2>Picture</h2>
     <img src="img/logo.png" />
     <h2 class="ui-button centered">Change</h2>
   </div>
   <h2 class="indented" >Name</h2>
   <h2 class="indented" >Email</h2>
   <h2 class="indented" >Phone</h2>
   <h2 class="ui-button centered">Save</h2>
   <h2 class="ui-button centered">Sign Out</h2>
 </div>
</snap-content>

