<snap-drawers data-snap-ignore="true">
  <div snap-drawer>
     <div>
      <a href="#/vehicles-stolen" class="drawer-button">Vehicles Being Stolen</a>
     </div>
    <div>
      <a href="#/profile" class="drawer-button active-button">My Profile</a> 
    </div>
    <div>
      <a href="#/vehicles" class="drawer-button">My Vehicles</a> 
    </div>
    <div>
      <a href="#/settings" class="drawer-button">Settings</a> 
    </div>
  </div>
</snap-drawers>

<snap-content snap-options="snapOpts">
 <div id="top-bar">
  <div snap-toggle id="snap-button">
  </div>
<h1>Ridekeeper</h1>
 </div>

 <div id="main-view">
 <p>Profile<p>
</div>
</snap-content>

