<snap-content snap-options="snapOpts">
 <div class="overlay">
  <div class="overlay-box">
    <img class="overlay-loader" src="img/ajax-loader.gif" />
  </div>
 </div>
 <div id="top-bar">
 <img src="./icon.png" snap-toggle id="snap-button">
<h1>Registration</h1>
 </div>

 <div id="main-view">
   <div class="registration">
   <form>
   <h2 class="registration-text">Name
   <input type="text" name="name"></h2>
   <h2 class="registration-text">Email
   <input type="text" name="email"></h2>
   </form>
   <h2 class="registration-text">Phone
   <input type="text" name="phone"></h2>
   <h2 class="registration-text">Password
   <input type="text" name="pword"></h2>
   </form>
   <div id="domain"></div>
   <h2 class="ui-button centered"><a href="#/profile" class="drawer-button">Sign Up</a></h2>
   </div>
 </div>
</snap-content>
