<snap-content snap-options="snapOpts">
 <div class="overlay">
  <div class="overlay-box">
    <img class="overlay-loader" src="img/ajax-loader.gif" />
  </div>
 </div>
 <div id="top-bar">
 <img src="./icon.png" snap-toggle id="snap-button">
<h1>Registration</h1>
 </div>

 <div id="main-view">
   <div class="registration">
   <form>
   <h2 class="registration-text">Username
   <input id="register-user" type="text" name="uname"></h2>
   <h2 class="registration-text">Name
   <input id="register-name" type="text" name="name"></h2>
   <h2 class="registration-text">Email
   <input id="register-email" type="text" name="email"></h2>
   <h2 class="registration-text">Phone
   <input id="register-phone" type="text" name="phone"></h2>
   <h2 class="registration-text">Password
   <input id="register-pass" type="text" name="pword"></h2>
   </form>
   <div id="domain"></div>
   <h2 id="registration-button" class="ui-button centered">Sign Up</a></h2>
   <h2 id="login-back-button" class="ui-button centered">Back</a></h2>
   </div>
 </div>
</snap-content>
