<snap-drawers data-snap-ignore="true">
    <div snap-drawer>
       <div>
        <a href="#/vehicles-stolen" class="drawer-button" id="sidebar-vehicles-stolen">Vehicles Being Stolen</a>
       </div>
      <div>
        <a href="#/profile" class="drawer-button" id="sidebar-profile">My Profile</a> 
      </div>
      <div>
        <a href="#/vehicles" class="drawer-button" id="sidebar-vehicles">My Vehicles</a> 
      </div>
      <div>
        <a href="#/settings" class="drawer-button active-button" id="sidebar-settings">Settings</a> 
      </div>
    </div>
</snap-drawers>

<snap-content snap-options="snapOpts">
 <div class="overlay">
  <div class="overlay-box">
    <img class="overlay-loader" src="img/ajax-loader.gif" />
  </div>
 </div>
 <div id="top-bar">
 <img src="./icon.png" snap-toggle id="snap-button">
<h1>Settings</h1>
 </div>

 <div id="main-view">
 <p class="header">WHEN THERE ARE NEARBY STOLEN VEHICLES</p>
 <div class="list-view settings-list">
   <p id="nearby_stolen-0" class="list-item">Beep</p>
   <p id="nearby_stolen-1" class="list-item">Alert</p>
   <p id="nearby_stolen-2" class="list-item">Short Vibration</p>
   <p id="nearby_stolen-3" class="list-item-borderless">Long Vibration</p>
 </div>
<p class="header">WHEN YOUR VEHICLE IS STOLEN</p>
 <div class="list-view settings-list">
   <p id="stolen-0" class="list-item">Beep</p>
   <p id="stolen-1" class="list-item">Alert</p>
   <p id="stolen-2" class="list-item">Short Vibration</p>
   <p id="stolen-3" class="list-item-borderless">Long Vibration</p>
 </div>
<p class="header">WHEN YOUR VEHICLE IS LIFTED/TILTED</p>
 <div class="list-view settings-list">
   <p id="disturbed-0" class="list-item">Beep</p>
   <p id="disturbed-1" class="list-item">Alert</p>
   <p id="disturbed-2" class="list-item">Short Vibration</p>
   <p id="disturbed-3" class="list-item-borderless">Long Vibration</p>
 </div>
</div>
</snap-content>

