<snap-drawers data-snap-ignore="true">
  <div snap-drawer>
     <div>
      <a href="#/vehicles-stolen" class="drawer-button">Vehicles Being Stolen</a>
     </div>
    <div>
      <a href="#/profile" class="drawer-button">My Profile</a> 
    </div>
    <div>
      <a href="#/vehicles" class="drawer-button">My Vehicles</a> 
    </div>
    <div>
      <a href="#/settings" class="drawer-button active-button">Settings</a> 
    </div>
  </div>
</snap-drawers>

<snap-content snap-options="snapOpts">
 <div class="overlay">
  <div class="overlay-box">
    <img class="overlay-loader" src="img/ajax-loader.gif" />
  </div>
 </div>
 <div id="top-bar">
 <img src="./icon.png" snap-toggle id="snap-button">
<h1>Settings</h1>
 </div>

 <div id="main-view">
 <p class="header">WHEN THERE ARE NEARBY STOLEN VEHICLES</p>
 <div class="list-view settings-list">
   <a href="" class="list-item">Beep</a>
   <a href="" class="list-item">Alert</a>
   <a href="" class="list-item">Short Vibration</a>
   <a href="" class="list-item-borderless">Long Vibration</a>
 </div>
<p class="header">WHEN YOUR VEHICLE IS STOLEN</p>
 <div class="list-view settings-list">
   <a href="" class="list-item">Beep</a>
   <a href="" class="list-item">Alert</a>
   <a href="" class="list-item">Short Vibration</a>
   <a href="" class="list-item-borderless">Long Vibration</a>
 </div>
<p class="header">WHEN YOUR VEHICLE IS LIFTED/TILTED</p>
 <div class="list-view settings-list">
   <a href="" class="list-item">Beep</a>
   <a href="" class="list-item">Alert</a>
   <a href="" class="list-item">Short Vibration</a>
   <a href="" class="list-item-borderless">Long Vibration</a>
 </div>
</div>
</snap-content>

