<snap-drawers data-snap-ignore="true">
    <div snap-drawer>
       <div>
        <a href="#/vehicles-stolen" class="drawer-button" id="sidebar-vehicles-stolen">Vehicles Being Stolen</a>
       </div>
      <div>
        <a href="#/profile" class="drawer-button" id="sidebar-profile">My Profile</a> 
      </div>
      <div>
        <a href="#/vehicles" class="drawer-button" id="sidebar-vehicles">My Vehicles</a> 
      </div>
      <div>
        <a href="#/settings" class="drawer-button" id="sidebar-settings">Settings</a> 
      </div>
    </div>
</snap-drawers>

<snap-content snap-options="snapOpts">
 <div class="overlay">
  <div class="overlay-box">
    <img class="overlay-loader" src="img/ajax-loader.gif" />
  </div>
 </div>
 <div id="top-bar">
 <img src="./icon.png" snap-toggle id="snap-button">
 <h1>Vehicle: </h1>
 </div>

 <div id="main-view">
   <div id="map-canvas"></div>
   <div id="map-message">Error retrieving user location</div>
   <ul id="error-list">
   </ul>
   <h2 class="ui-button centered" id="back">Go Back</h2>
   </div>

 </div>
</snap-content>

