<snap-drawers data-snap-ignore="true">
    <snap-drawer>
       <div>
        <a href="#/vehicles-stolen" class="drawer-button" id="sidebar-vehicles-stolen">Vehicles Being Stolen</a>
       </div>
      <div>
        <a href="#/profile" class="drawer-button" id="sidebar-profile">My Profile</a> 
      </div>
      <div>
        <a href="#/vehicles" class="drawer-button" id="sidebar-vehicles">My Vehicles</a> 
      </div>
      <div>
        <a href="#/settings" class="drawer-button" id="sidebar-settings">Settings</a> 
      </div>
    </snap-drawer>
</snap-drawers>

<snap-content snap-options="snapOpts">
 <div class="overlay">
  <div class="overlay-box">
    <img class="overlay-loader" src="img/ajax-loader.gif" />
  </div>
 </div>
 <div id="top-bar">
 <img src="./icon.png" snap-toggle id="snap-button">
 <h1>Vehicle: </h1>
 </div>

 <div id="main-view">
   <div id="map-canvas"></div>
   <div id="map-message">Error retrieving location</div>
   <ul id="error-list">
   </ul>
   <div class="profile-settings">
     <form >
     <h2 class="indented" id="make-text">Make</h2>
       <input id ="make"></input>
     <h2 class="indented" id="model-text">Model</h2>
       <input id ="model"></input>
     <h2 class="indented" id="year-text">Year</h2>
       <input id ="year"></input>
     <h2 class="indented" id="license-text">License Plate</h2>
       <input id ="license"></input>
     </form>
   <h2 class="ui-button centered" id="create">Update Vehicle</h2>
   <h2 class="ui-button centered red" id="remove">Remove Vehicle</h2>
   <h2 class="ui-button centered" id="track">Track Vehicle</h2>
   <h2 class="ui-button centered" id="enter-chatroom">Enter Chatroom</h2>

   <div id="create-text"></div>
   </div>

 </div>
</snap-content>

