<snap-drawers data-snap-ignore="true">
  <div snap-drawer data-role="none">
     <div>
      <a data-role="none" href="#/vehicles-stolen" class="drawer-button active-button">Vehicles Being Stolen</a>
     </div>
    <div>
      <a href="#/profile" class="drawer-button">My Profile</a> 
    </div>
    <div>
      <a href="#/vehicles" class="drawer-button">My Vehicles</a> 
    </div>
    <div>
      <a href="#/settings" class="drawer-button">Settings</a> 
    </div>
  </div>
</snap-drawers>

<snap-content snap-options="snapOpts">
 <div id="top-bar">
  <img src="./icon.png" snap-toggle id="snap-button">
  <h1>Ridekeeper</h1>
 </div>

  <div id="main-view">
  <div class="list-view">
  <a href="#/vehicle-map" class="list-item">Kawasaki Ninja 250</a></li>
  <a href="#/vehicle-map" class="list-item">Toyota Corolla</a></li>
  </div>
  </div>

</snap-content>

