<snap-drawers data-snap-ignore="true">
    <snap-drawer>
       <div>
        <a href="#/vehicles-stolen" class="drawer-button active-button" id="sidebar-vehicles-stolen">Vehicles Being Stolen</a>
       </div>
      <div>
        <a href="#/profile" class="drawer-button" id="sidebar-profile">My Profile</a> 
      </div>
      <div>
        <a href="#/vehicles" class="drawer-button" id="sidebar-vehicles">My Vehicles</a> 
      </div>
      <div>
        <a href="#/settings" class="drawer-button" id="sidebar-settings">Settings</a> 
      </div>
    </snap-drawer>
</snap-drawers>

<snap-content snap-options="snapOpts">
 <div class="overlay">
  <div class="overlay-box">
    <img class="overlay-loader" src="img/ajax-loader.gif" />
  </div>
 </div>
 <div id="top-bar">
  <img src="./icon.png" snap-toggle id="snap-button">
  <h1>Vehicles Stolen</h1>
 </div>

  <div id="main-view">
    <div class="list-view" id="stolen-list">
    </div>
  </div>

</snap-content>

