<snap-content snap-options="snapOpts">
 <div class="overlay">
  <div class="overlay-box">
    <img class="overlay-loader" src="img/ajax-loader.gif" />
  </div>
 </div>
 <div id="top-bar">
  <img src="./icon.png" snap-toggle id="snap-button">
  <h1>Ridekeeper</h1>
 </div>

  <div id="main-view">
  <div class="list-view">
  <div class="list-item" onclick="setVehiclePage(1)">Kawasaki Ninja 250</div>
  <div class="list-item" onclick="setVehiclePage(2)">Toyota Corolla</div>
  </div>
  </div>

</snap-content>

