<snap-drawers data-snap-ignore="true">
  <div snap-drawer>
     <div>
      <a href="#/vehicles-stolen" class="drawer-button">Vehicles Being Stolen</a>
     </div>
    <div>
      <a href="#/profile" class="drawer-button">My Profile</a> 
    </div>
    <div>
      <a href="#/vehicles" class="drawer-button active-button">My Vehicles</a> 
    </div>
    <div>
      <a href="#/settings" class="drawer-button">Settings</a> 
    </div>
  </div>
</snap-drawers>

<snap-content snap-options="snapOpts">
 <div class="overlay">
  <div class="overlay-box">
    <img class="overlay-loader" src="img/ajax-loader.gif" />
  </div>
 </div>
 <div id="top-bar">
 <img src="./icon.png" snap-toggle id="snap-button">
 <h1>Vehicle: </h1>
 </div>

 <div id="main-view">
   <div id="map-canvas"></div>
 </div>
</snap-content>

