/* app css stylesheet */

body {
  background-color: #222;
  color: #FFF;
}

.snap-content {
  background-color: #EDEDED;
  color: #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

.snap-drawer {
  color: #FFF;
}

.drawer-button {
  display:block;
  text-decoration:none;
  color: #FFF;
  border-right:none;
  margin: 0px;
  font-weight: bold;
  padding: 10px;
  padding-left:20px;
}

.snapdrawer a:link {
  color: #FFF;
}

.snapdrawer a:active {
  color: #FFF;
}

.snapdrawer a:visited {
  color: #FFF;
}

.snapdrawer a:hover {
  color: #FFF;
}

.active-button {
  background-color: #007DA9;
}

#top-bar {
  position:absolute;
  box-shadow: 1px 1px 3px 1px #111;
  color: #fff;
  top:0px;
  left:0px;
  width:100%;
  background-color: #222222;
}

#top-bar h1 {
  margin: 10px;
}

#main-view {
  position:absolute;
  top:55px;
  width:100%;
}

.indented {
 margin-left:10px;
}

#snap-button {
  border-radius:10px;
  width:45px;
  margin:5px;
  height:45px;
  margin-right:10px;
  background-color: #007DA9;
  float:left;
}

.list-view {
 display:block;
 width:100%;
 height:100%;
}

.list-item {
 display:block;
 line-height:45px;
 padding-left:10px;
 width:100%;
 text-decoration:none;
 height:45px;
 border-bottom: 1px solid #999;
}

.list-item:link {
  color: #000;
}

.list-item:active {
  color: #000;
}

.list-item:visited {
  color: #000;
}

.list-item:hover {
  color: #000;
}

.ui-button {
 background-color: #007DA9;
 border-radius:10px; 
 width:20%;
 padding:10px;
 color:white;
 text-align:center;
}

.centered {
 margin-left:auto;
 margin-right:auto;
}
